*{
margin: 5px;    
padding: 5px;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
list-style: none;
}

input{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    color: rgb(77, 77, 77);
    border-radius: 5px;
    border-style: solid 1px;
}

.botao{
    border-style: none;
    background-color: white;
    color: brown;
    padding: 0;
    max-width: fit-content;
    max-height: 30px;
    margin: 2px;
}

button{
border-radius: 6px;
max-width: 250px;
width: 150px;
height: 30pt;
margin: 10pt;
}

button:hover{
    color: brown;
    background-color: aquamarine;

}